.overlay {
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-note {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: 0.2s;
  padding: 12px;
  color: rgb(32, 33, 36);
  width: 600px;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);

  &__heading {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  &__body {
    padding-top: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__footer {
    padding-top: 8px;
  }
}

.visible {
  visibility: visible;
  pointer-events: all;
}

@media screen and (max-width: 650px) {
  .modal-note {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .modal-note {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .modal-note {
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .modal-note {
    width: 280px;
  }
}
