.note {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
  padding: 12px;
  color: rgb(32, 33, 36);
  margin-bottom: 16px;

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 1px 3px 1px rgba(60, 64, 67, 0.149);
  }

  &:hover > &__footer {
    opacity: 1;
  }

  &__heading {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  &__body {
    padding-top: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__footer {
    padding-top: 8px;
    opacity: 0;
    transition: all 0.5s;
  }

  &__action {
    padding: 5px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    & > img {
      width: 15px;
    }
  }
}
